{
  "env": {
    "ANTHROPIC_BASE_URL": "https://api.anthropic.com/",
    "CLAUDE_CODE_EXPERIMENTAL_AGENT_TEAMS": "1"
  },
  "model": "sonnet[1m]",
  "statusLine": {
    "type": "command",
    "command": "claudeline"
  },
  "enabledPlugins": {
    "atlassian@claude-plugins-official": true,
    "claude-code-setup@claude-plugins-official": true,
    "laravel-boost@claude-plugins-official": true,
    "php-lsp@claude-plugins-official": true,
    "skill-creator@claude-plugins-official": true,
    "pr-review-toolkit@claude-plugins-official": true,
    "claude-code-wakatime@wakatime": true,
    "claudeline@claudeline": true,
    "notion@claude-plugins-official": true,
    "ponytail@ponytail": true
  },
  "extraKnownMarketplaces": {
    "wakatime": {
      "source": {
        "source": "git",
        "url": "https://github.com/wakatime/claude-code-wakatime.git"
      }
    },
    "claudeline": {
      "source": {
        "source": "github",
        "repo": "fredrikaverpil/claudeline"
      }
    },
    "ponytail": {
      "source": {
        "source": "github",
        "repo": "DietrichGebert/ponytail"
      }
    },
    "last30days-skill": {
      "source": {
        "source": "github",
        "repo": "mvanhorn/last30days-skill"
      }
    }
  },
  "tui": "fullscreen",
  "skipDangerousModePermissionPrompt": true,
  "theme": "dark",
  "autoCompactEnabled": true
}
