[user]
	name = Jorge Thomas (Akrista)
	email = 23145794+Akrista@users.noreply.github.com

[core]
	autocrlf = false
	editor = nvim

[init]
	defaultBranch = master

[pull]
	rebase = false

[alias]
	st = status
	co = checkout
	br = branch
	cm = commit

[push]
	autoSetupRemote = true

[include]
	path = ~/.gitconfig.local
